@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&family=Jost:wght@400;700&display=swap');
@import 'utils/variables';
@import 'components/type';


//titre

.title{
    font-family: 'Heebo';
}

.title--big{
    font-size: 61.04px;
}

.title--normal{
    font-size: 48.83px;
}

.title--thin{
    font-size: 39.06px;
}
