@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&family=Jost:wght@400;700&display=swap');
@import 'utils/variables';
@import 'components/type';
@import 'reset.scss';


//titre

body{
    background-color: black;
    color: white;
    margin: 0px;
    font-family: 'Jost';
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#3957AB,black, #3957AB);  
    border-radius: 5px;
}


.title{
    font-family: 'Heebo';
    color: white;
    margin-top: 0px;

    &--big{
        font-size: 61.04px;
    }

    &--normal{
        font-size: 48.83px;
        margin-bottom: 25px;
    }

    &--thin{
        font-size: 39.06px;
        margin-bottom: 25px;
    }
}


.text{
    font-size: 18px;
    line-height: 39px;
}

.link{
    color: white;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;


    &--active{
        border-left: solid #A0FFEE 7px;
    }

    &--fle::before{

        content: url('../assets/images/flechelien.svg');
        background-repeat: no-repeat;
        width: 100%;
        padding-right: 20px;
    }

    &--fle{
        border-bottom-style: solid;
        border-color: #A0FFEE;
        border-width: 5px;
        padding: 5px;
    }

    &--fle:hover{
        background-color: #A0FFEE;
        transition: all 0.2s ease-in;
        color: black;
    }

    &--fle:hover::before{
        content: url('../assets/images/flechelienhover.svg');
        background-repeat: no-repeat;
        width: 100%;
        padding-right: 20px;
    }
}

.text{
    margin-top: 0px;
    margin-bottom: 25px;
}


//burger menu
.btn{
    font-family: 'Heebo', sans-serif;
    cursor: pointer;    
    border: none;
    padding: 0;
    background-color: transparent;
    z-index: 2;
}
.menu__btn{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 20;
    height: 40px;
    width: 40px;

    background-image: url('../assets/images/ouvrir.png');
    background-size: cover;
    background-repeat: no-repeat;

    font-size: 18px;
    text-transform: uppercase;
}

.menu{
    z-index: 2;
    .link{
        padding-left: 10px;
        padding-right: 10px;
    }

    .link:hover{
        background-color: #A0FFEE;
        color: black;
        transition: all 0.2s ease-in;
        border-radius: 5px;
    }
    &--secondaire{
        display: flex;
        justify-content: space-around;
        margin-top: 50px
    }
}




@media (max-width: 700px){

    /* M E N U */
    .menu{
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        top: 0;
        background-color: #3957AB;
        z-index: 10;
        
        transform: translateX(100%);
        transition: transform .3s ease-out;
        z-index: 3;

        .menu__ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 70%;
            z-index: 3;
        }

        .menu__el{
            padding: 5px;
            margin: 15px;
        }

    }
    .menu--open{
        transform: translateX(0);

    }
    .btn--ouvert{
        background-image: url('../assets/images/fermer.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 40px;
        position: fixed;
    }
}

//section

.mainContainer, .Container{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.Container{
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 25px;
    padding-right: 25px;

    &__back{
        background-image: url('../assets/images/groundmob.jpg');
        background-size: cover; 
        height: 100%;
    }

    &__single{

        .title--thin{
            text-align: end;
            margin-bottom: 50px;
        }
    
        .img--partiste{
            border-radius: 30% 30% 0% 0%;
            height: 320px;
            width: 320px;
        }
    
        .text{
            max-width: 282px;
            text-indent: -0.5em;
        }
    
        .player{
            margin-left: auto;
            background-color: black;
            width: 320px;
            padding: 0px;
            display: block;
            margin-right: auto;
            height: 70px;
            display: flex;
            align-items: center;
        }
    }

    &__debuts{
        .text{
            max-width: 400px;
        }
        
    }
}


.Container__into1, .Container__into2{
    background-color: #3957AB;
    height: 100vh;
    overflow-x: hidden;
    .title--big{
        right: 14%;
        display: flex;
        z-index: 2;
        position: absolute;
        bottom: 15%;
        left: 14%;
        justify-content: center;
    }
}



.tracklist{
    display: none;
}

//tracker
#player-container {
    cursor: pointer;
    height:40px;
    width: 40px;
    padding: 12px 18px;
    z-index: 2;
   
    background-repeat: no-repeat!important;
    background-position: center;
    background-size: 16px;

  
}

.play {
    background-image: url(../assets/images/play.png);
    cursor: pointer;
    height:40px;
    width: 40px;
    padding-right: 12px;
    z-index: 2;
   
    background-repeat: no-repeat!important;
    background-position: center;
    background-size: 30px;
}

.pause {
     background-image: url(../assets/images/pause.png)!important;
}
 
.player{
    display: flex;
    align-items: center;
}

//img
.img{
    &--intro{
        width: 100%;
        position: absolute;
        bottom: 0px;
    }
    &--intro1{
        width: 100%;
        position: absolute;
        bottom: 0px;
    }

    &--album{
        width: 100%;
        position: relative;

        &::after{
            content: url('../assets/images/13bef.png');
            height: 40px;
            width: 40px;
            position: absolute;
        }
    }
    &--partiste{
        height: 230px;
        width: 230px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }

}


//slider
.slider{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;

    .title--thin{
        margin-top: 50px;
        margin-bottom: 25px;
        text-align: center;
    }

    .text{
        margin: 0px;
        text-align: center;
    }

}

.slider__el{
    top: 0;
    left: 0;
    display: none;

}

.slider__el--show{
    display: inline;
}


.slider__list{
    margin: 0;
    padding: 0;
    list-style: none;
}


.slider__content{
    padding: 10px;
    padding-bottom: 25px;
    z-index: 10;
}

.slider__images{
    align-self: center;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 230px;
    width: 230px;
}

/*controls*/
.slider__control{
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 20;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.slider__btn--next{
    background-image: url('../assets/images/droite.svg');
    background-repeat: no-repeat;
    justify-items: center;
    justify-self: flex-end;  
}

.slider__btn--prev{
    background-image: url('../assets/images/gau.svg');
    background-repeat: no-repeat;
    justify-items: center;
    justify-self: flex-end;
}

.slider__btn button{
    border: none;
    padding: 10px 20px 8px;
    cursor: pointer;
    font-size: 0px;
    background-color: transparent;
    border-color: transparent;
    width: 54.25px;
    height:44.17px;
}


/*ANIMATION*/
.slider__content{
    transform: translateX(50px);
    transition: all .3s ease-out;
    /*masquer*/
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.slider__images{
    transform: translateX(-50px);
    transition: all .3s ease-out;
    /*masquer*/
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.slider__el--show .slider__content{
    transform: translateX(0);
    
    /*affichage*/
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.slider__el--show .slider__images{
    transform: translateX(0);
    
    /*affichage*/
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}



@media (min-width: 800px){

//container
    .Container{
        padding-top: 200px;
        padding-bottom: 200px;
        padding-left: 100px;
        padding-right: 100px;

    }

    .Container__into1{

        .title--big{
            bottom: 15%;
        }

        .img--intro{
            z-index: 0;
            width: 70%;
            right: 19%;
            display: flex;
            position: absolute;
            left: 19%;
            justify-content: center;
        }
    }

    .Container__into2{
        .title--big{
            bottom: 5%;
        }

        .img--intro2{
            z-index: 0;
            width: 60%;
            right: 19%;
            display: flex;
            position: absolute;
            left: 19%;
            justify-content: center;
        }
    }

    .menu__btn{
        display: none;
    }



    .menu{
        position: initial;
        z-index: 3;
        position: absolute;
        right: 0%;
        &__ul{
            display: flex;
            justify-content: flex-end;
            margin-top: 50px; 
            z-index: 5;  
        }
        &__ul:last-child{
            padding-right: 100px; 
        }
        

        &__el{
            padding-left: 50px;
        }
    }

    .Container--flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .img--partiste{
        height: 300px;
        width: 300px;
    }

    .slider{
        &__btn--prev{
            position: absolute;
            bottom: 194px;
            
        }

        &__btn--next{
            position: absolute;
            right: 0px;
            bottom: 194px;
        }


    }
}

@media (min-width: 1000px){

    .title{
    
        &--big{
            font-size: 90.44px;
        }
    
        &--normal{
            font-size: 63.96px;
            margin-bottom: 35px;
        }
    
        &--thin{
            font-size: 45.23px;
            margin-bottom: 35px;
        }
    }

    .text{
        font-size: 22px;
    }

    .Container{
        padding-left: 200px;
        padding-right: 200px;


        &__back{
            background-image: url('../assets/images/groundordi.jpg');
            background-size: cover; 
            height: 100%;
        }

        &--flou{

            position: relative;

            .link{
                font-size: 18px;
            }
        }

    }

    .menu__ul:last-child{
        padding-right: 200px;
    }

    .menu__ul{
        z-index: 3;
    }

    .img--size{
        width: 40%;
    }

    .text{
        max-width: 550px;
    }

    .effet:hover{
        transform: scale(1.3);
        transition: all .2s cubic-bezier(0.85, 0, 0.15, 1);
    
    }



    
}

@media (min-width:1200px){
    .slider{
        &__btn--prev{
            position: absolute;
            bottom: 108px;
            
        }

        &__btn--next{
            position: absolute;
            right: 0px;
            bottom: 108px;
        }

        &__el--show{
            display: flex;
            justify-content: space-evenly;
        }

        &__images{
            margin: 0px;
        }

    }
    .tracklist{
        background-color: rgb(31, 47, 86, 0.9) ;
        display: block;
        opacity: 70%;
        border-radius: 50px;
        position: absolute;
        z-index: 2;
        bottom: 50px;
        top: 50px;
        left: 100px;
        right: 100px;
        padding: 20px;

        .list{
            display: flex;
            justify-content: space-between;
            padding: 30px;

            &__ul{
                list-style-type: decimal-leading-zero !important; 
                
                .link{
                    padding: 10px;
                }
            }
        }
    }
}

@media (min-width: 1500px){
    .tracklist{
        bottom: 100px;
        top: 100px;
        left: 50px;
        right: 50px;
        padding: 30px;

        .list{
            &__ul{                
                .link{
                    padding: 10px;
                }
            }
        }
    }

}

@media (min-width: 2000px){
html{
    max-width: 2000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #3957AB;
}

.Container{
    padding-left: 500px;
    padding-right: 500px;
    margin:0% ;

    &__into1{
        background-color: #3957AB;
    }
    .img{
        margin: 0px;
    }
    &--flex{ 
        justify-content: space-around
    }
}

}


//test animation
.main{

    animation: open 1s both;
}

.start{
    animation: demarrage 3s;
}
.carre{
    width: 100vh;
    height:100vh;
    position: absolute;
    top: 0;
    left: -100VH;
    opacity: 1;
    z-index: 0;

    background-color: rgba(75, 109, 160, 0.0);
}


.animation--up .carre{
    animation: up .6s ease-in both;
}

.animation--down .carre{
    animation: down .3s ease-in both;
}

@keyframes demarrage{

    0%{
        background-color: #3957AB;

    }
    50%{
        background-color: rgba(106, 123, 165, 0.5);
    }

    100%{
        background-color: rgba(106, 123, 165, 0.0);
    }
    
}

@keyframes up{

    0%{
        opacity: 0;
        height: 100%;
        background-color: #000000;
        transform: translateY(0%);
    }


    100%{
        opacity: 1;
        height: 100%;
        background-color: #3957AB;
        transform: translateY(100vh);
    }
}

@keyframes down{

    0%{
        opacity: 0;
        width: 100%;
        background-color: #000000;
        transform: translateX(0%);
    }
    50%{
        width: 100%;
    }

    100%{
        opacity: 1;
        width: 100%;
        background-color: #3957AB;
        transform: translateX(100vh);
    }
}
