@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&family=Jost:wght@400;700&display=swap');
@import 'utils/variables';
@import 'components/type';
@import 'reset.scss';


//titre

body{
    background-color: black;
    color: white;
    margin: 0px;
    font-family: 'Jost';
}

.title{
    font-family: 'Heebo';
    color: white;
    margin-top: 0px;
}

.title--big{
    font-size: 61.04px;
}

.title--normal{
    font-size: 48.83px;
}

.title--thin{
    font-size: 39.06px;
}

.p{
    font-size: 18px;
}

//section

.mainContainer__into1{
    background-color: #3957AB;
    height: 100vh;
}

.mainContainer__single{
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 25px;
    padding-right: 25px;
    background-image: url('../assets/images/groundmob.jpg');
    background-size: cover;
    height: 100%;

    .title--thin{
        text-align: end;
    }
}

.mainContainer__album{
    padding-top: 150px;
    padding-left: 25px;
    padding-right: 25px; 

}

//img
.img--intro{
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.img--album{
    width: 100%;
    position: absolute;
}