@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&family=Jost:wght@400;700&display=swap');
@import 'utils/variables';
@import 'components/type';
@import 'reset.scss';


//titre

body{
    background-color: black;
    color: white;
    margin: 0px;
    font-family: 'Jost';
    overflow-x: hidden;
}

.title{
    font-family: 'Heebo';
    color: white;
    margin-top: 0px;
}

.title--big{
    font-size: 61.04px;
}

.title--normal{
    font-size: 48.83px;
}

.title--thin{
    font-size: 39.06px;
}

.p{
    font-size: 18px;
}

//section

.mainContainer{
    overflow-x: hidden;
}

.mainContainer__back{
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 25px;
    padding-right: 25px;
    background-image: url('../assets/images/groundmob.jpg');
    background-size: cover; 
    height: 100%;
}

.mainContainer__into1{
    background-color: #3957AB;
    height: 100vh;
    overflow-x: hidden;
}

.mainContainer__single{

    .title--thin{
        text-align: end;
    }
}

.mainContainer__album{
    padding-top: 150px;
    padding-left: 25px;
    padding-right: 25px; 

}


.mainContainer__slider{
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 25px;
    padding-right: 25px;
}

//img
.img--intro{
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.img--intro1{
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.img--album{
    width: 100%;
    position: absolute;
}

//slider
.slider{
    width: 100%;
    position: relative;
}

.slider__el{
    position: absolute;
    top: 0;
    left: 0;

}


.slider__list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 100px);
    gap: 2%;
}

.slider__content{
    grid-column: 1/ -1;
    grid-row: 1/4;
    padding: 10px;
    z-index: 10;
}

.slider__images{
    grid-column: 3/-1;
    grid-row: 1/ span 3;
    align-self: center;
    max-width: 100%;
}

/*controls*/
.slider__control{
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 20;
    position: relative;
    
}

.slider__btn{
    grid-column: 6;
    grid-row: 4;
}

.slider__btn--prev{
    grid-row: 3;
    justify-items: center;
    justify-self: flex-end;
}

.slider__btn button{
    border: none;
    background-color: blanchedalmond;
    color: coral;
    padding: 10px 20px 8px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}


/*ANIMATION*/
.slider__content{
    transform: translateX(50px);
    transition: all .3s ease-out;
    /*masquer*/
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.slider__images{
    transform: translateX(-50px);
    transition: all .3s ease-out;
    /*masquer*/
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.slider__el--show .slider__content{
    transform: translateX(0);
    
    /*affichage*/
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.slider__el--show .slider__images{
    transform: translateX(0);
    
    /*affichage*/
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}